{{!< admin}}
<title>Admin-Users</title>

<main class="container">
  <div class="dashboard-header">
        <h2>Quản Lý Người Dùng</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Vai trò</th>
        <th>Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.role}}</td>
        <td>
          {{#if (eq this.role 'user')}}
          <a href="/admin/promote/{{this._id}}" class="btn btn-sm btn-success">👑 Cấp quyền Admin</a>
          {{else}}
          <span class="text-muted">Đã là Admin</span>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</main>
