<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<h2 class="dashboard-title mb-4">📅 Lịch Học</h2>

<main class="col-md-9 col-lg-10 content">
    <!-- Bộ lọc học kỳ + năm học -->
    <form method="GET" action="/class" class="row g-3 mb-4">
        <div class="col-md-4">
            <select name="year" class="form-select" required>
                <option value="Tất cả" {{#if (eq selectedYear 'Tất cả')}}selected{{/if}}>Tất cả</option>
                {{#each years}}
                <option value="{{this}}" {{#ifEquals ../selectedYear this}}selected{{/ifEquals}}>{{this}}</option>
                {{/each}}
                
            </select>
        </div>
        <div class="col-md-4">
            <select name="semester" class="form-select" required>
                <option value="Tất cả" {{#if (eq selectedSemester 'Tất cả')}}selected{{/if}}>Tất cả</option>
                {{#each semestersList}}
                <option value="{{this}}" {{#ifEquals ../selectedSemester this}}selected{{/ifEquals}}>{{this}}</option>
                {{/each}}
                
            </select>
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary"> 🔍 </button>
        </div>
    </form>

    <!-- Danh sách lịch học -->

        <div class="card p-4">
            {{#if classesGroupedBySemester.length}}
                {{#each classesGroupedBySemester}}
                    <h5 class=" text-primary">{{tenHocKy}} - {{namHoc}}</h5>
                    <ul class="list-group mb-3">
                        {{#each scores}}
                        <li class="list-group-item">
                            📌 {{thu}} - {{HocPhan.tenHocPhan}} ({{gioHoc}})
                        </li>
                        {{/each}}
                    </ul>
                {{/each}}
            {{else}}
                <li class="list-group-item text-muted">Không có lịch học cho học kỳ này.</li>
            {{/if}}

        </div>


</main>
