<div class="dashboard-header">
  <h2 class="dashboard-title mb-0"><i class="fas fa-video"></i> Các Khóa Học Tham Khảo</h2>

  <div class="user-info position-relative">
    <img src="{{user.avatar}}" alt="Avatar" class="user-avatar dropdown-toggle"
         onerror="this.onerror=null;this.src='/img/avatar.png';"
         id="avatarDropdown" />

    <span class="user-name">{{user.username}}</span>

    <!-- Menu dropdown -->
    <div class="dropdown-menu-user" id="userMenu">
      <a href="/account" class="dropdown-item"><i class="fas fa-pen"></i> Chỉnh sửa thông tin</a>
      <a href="/logout" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
    </div>
  </div>
</div>

<main class="container mt-4">
  <div class="row">
    {{#each videos}}
      <div class="col-md-6 mb-4">
        <div class="card hover-shadow">
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <div class="ratio ratio-16x9">
              <iframe src="https://www.youtube.com/embed/{{this.youtubeId}}" 
                      title="{{this.title}}" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>